@import url("home.css");
@import url("aboutme.css");
@import url("mywork.css");

:root {
    --w: #fff;
    --b: #000;
    --g1: #65737e;
    --g2: #4f5b66;
    --be: #F5F5DC;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.nav-container {
    width: 100%;
    background-color: var(--b);
}

.navbar {
    display: grid;
    grid-template-columns: 0.2fr auto 0.8fr;
    align-items: center;
    height: 100px;
    width:100%;
    max-width: 1720px;
    margin: 0 auto;
}

#navbar-logo {
    color: var(--be);
    justify-self: start;
    margin-left: 30px;
}

#navbar-logo {
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4,auto);
    list-style: none;
    text-align: center;
    width: 80%;
    justify-self: end;
}

.nav-links {
    color: var(--be);
    text-decoration: none;
}

.nav-links:hover {
    color: var(--g2);
    transition: all 0.2s ease-out;
}

.nav-links-btn {
    color: var(--b);
    background-color: var(--be);
    padding: 6px 16px;
    border-radius: 4px;
}

.nav-links-btn:hover {
    background-color: transparent;
    color: var(--be);
    padding: 5px 15px;
    border-radius: 4px;
    border: solid 1px var(--be);
    transition: all 0.3s ease-out;
}

.menu-toggle .bar {
    width: 30px;
    height: 4px;
    margin: 6px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--be);
}

@media all and (max-width: 300px) {

    .nav-container {
        position: relative;
    }

    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        background-color: var(--g2);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }
    
    #navbar-logo {
        margin-left: 30px;
    }

    .nav-menu.active {
        background-color: var(--be);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }
    
    .nav-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }
    
    .nav-links:hover{
        background-color: var(--g1);
        color: var(--be);
        transition: all 0.4s ease-out;
    }

    .navbar {
        width:100%;
    }

    .nav-links-btn {
        border: none;
        padding:0;
        border-radius: 0;
        background-color: var(--b); 
        color: var(--be);
        transition: all 0.2s ease-out;
    }

    .nav-link-btn:hover {
        border: none;
        padding:0;
        border-radius: 0;
        background-color: var(--be); 
        color: var(--b);
        transition: all 0.2s ease-out;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate (45deg);
    }


    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .main {
        background-color: var(--w);
    }
    
    .home-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-self: center;
        width: 80%;
        margin: 0 auto;
        height: 90vh;
        background-color: var(--w);
    }
    
    .home-content {
        justify-self: start;
        margin-left: 20px;
        background-color: var(--w);
        color: var(--b);
        width: 80%;
    }
    
    .home-content h1 {
        font-size: 1rem;
    }
    
    .home-content p {
        margin: 1rem;
        font-size: 1.2rem;
    }
    
    .main-btn {
        font-size: 1rem;
        background-color: var(--b);
        color: var(--w);
        margin-top: 2rem;
        cursor: pointer;
        position: relative;
        transition: all 0.35s;
        outline: none;
        padding: 8px;
        border-radius: 16px;
    }
    
    .main-btn a {
        position: relative;
        z-index: 2;
        background-color: var(--b);
        color: var(--w);
        text-decoration: none;
    }
    
    .main-btn:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        transition: all 0.35s;
        border-radius: 16px;
        background-color: transparent;
    }
    
    .main-btn:hover {
        color: var(--b);
    }
    
    .main-btn:hover:after {
        width: 100%;
    }
    
    .main-img-container {
        text-align: center;
    }
}
